<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<script>
function funcao1()
{
alert("Lembre-se sempre que outros também estão tentando acessar esse site, não repasse o link do mesmo! Seja generoso. Caso queira compartilhar algo com outra pessoa, baixe o arquivo e envie via Whatsapp ou outro meio! ;)");
}
</script>

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.png' | relative_url }}">

<!-- end custom head snippets -->
